WCFClient/Connected Services/ReferenciaWeb/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Suma_InputMessage">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="IService1_Suma_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Resta_InputMessage">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="IService1_Resta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Multiplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicacion" />
  </wsdl:message>
  <wsdl:message name="IService1_Multiplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="IService1_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Suma">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Suma" message="tns:IService1_Suma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumaResponse" message="tns:IService1_Suma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Resta" message="tns:IService1_Resta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RestaResponse" message="tns:IService1_Resta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Multiplicacion" message="tns:IService1_Multiplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MultiplicacionResponse" message="tns:IService1_Multiplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Division" message="tns:IService1_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DivisionResponse" message="tns:IService1_Division_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/IService1/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap:operation soapAction="http://tempuri.org/IService1/Resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap:operation soapAction="http://tempuri.org/IService1/Multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/IService1/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfCalculadora/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>